* {
  font-family: 'Antonio', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  /* width: 100lvh; */
}

img {
  /* max-width: 100lvh; */
  /* height: 100vh; */
}

h1 {
  /* font-size: 100lvw; */

  font-size: 315px;

}

h2 {
  font-size: 150px;
}

h3 {
  font-size: 100px;
}

a, b {
  color: black;
  text-decoration: none;
}

p,i,h1 {
  color: black;
}


.secondFont{
   /* font-family: 'Figtree', sans-serif; */
   color: grey;
}

.borderReff {
  /* border: 1px solid black; */
}



/* Mobile Size */
@media (max-width: 768px) {
  h1 {
    font-size: 230px;
  }

  h2 {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 125px;
  }

  h2 {
    font-size: 50px;
  }
}